<div class="users">
  <img class="img" src=<%= user.photo %> />
  <div class="info">
    <span class="nameofuser"> <%= link_to user.name, user_path(user) %></span>
  <p class="number">
    <span>Number of postes:</span>
    <%= user.postsCounter%>
  </p>
  </div>
</div>