<div class="users">
  <img class="img" src=<%= user.photo %> />
  <div class="info">
    <span class="nameofuser"> <%= link_to user.name, user_path(user) %></span>
  
   <h4>Number of postes: <%= user.postsCounter%></h4>
  </div>
</div>