<section class="user-index-cont">


<button type="button" class="create-btn">
    <%= link_to "Create A Post For The First User", new_user_post_path(@users)%>
</button>
<% @users.each do |user|%>
  <%= render "partials/user", user: user %>
<% end %>

</section>