
<div class="posts">
  <img src=<%= @user.photo %> />
  <span> <%= @user.name%></span>
  <p>
    <span>Number of postes:</span>
    <%= @user.postsCounter%>
  </p>
  <div class="bio">
  <p>
  <span>Bio</span>
    <%= @user.bio%>
  </p>
  </div>
</div>